div#container{
	width: 100%;
	min-height: 600px;
}

	.box{
		width: 700px;
		margin: 0px auto;
		margin-top: 50px;
		padding: 5px;
		height: 750px;
	}
		h3{
			position: relative;
			margin-left: 40px;
		}
		.chat{
			width: 600px;
			margin: 0px auto;
			border: 1px black solid;
			height: 600px;
			padding: 5px;
			overflow-y: auto;
		}
		.message{
			width: 610px;
			margin-left: 45px;
			border: 1px black solid; 
			height: 50px;
			/*padding: 5px;*/
			margin-top: 10px;
		}
		.send{
			position: absolute;
			margin-right: 30px;
			margin-top: 45px;
		}